<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('./include/metadata.ejs') %>
  <title>Page Not Found</title>
  <%- include('./include/stylesheets.ejs') %>
</head>

<body>
  <div class="outerframe">
    <%- include('./include/navbar.ejs') %>
    <main class="container d-flex justify-content-md-center" role="main">
      <div class="align-self-center col-md-8 text-center">
        <div class="display-1">404</div>
        <div>Not Found</div>
      </div>
    </main>
    <%- include('./include/footer.ejs') %>
  </div>
  <%- include('./include/javascripts.ejs') %>
</body>

</html>