<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./include/metadata.ejs') %>
  <title><%= pageTitle %></title>
  <%- include('./include/stylesheets.ejs') %>
</head>

<body>
  <div class="outerframe">
    <%- include('./include/navbar.ejs') %> 
  </div>
  <%- include('./include/javascripts.ejs') %>
</body>

</html>