<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../include/metadata.ejs') %>
  <title>Document</title>
  <%- include('../include/stylesheets.ejs') %>
  <link rel="stylesheet" href="/public/stylesheets/shop.css">
</head>
<body>
  <div class="outerframe">

    <%- include('../include/navbar.ejs') %>
    
    <main role="main" class="container">
      <div class="border-bottom">
        <form action="/search" method="GET" class="mt-5 mb-5">
          <div class="form-group row justify-content-center">
            <div class="input-group mt-3 mb-3 col-sm-8">
              <input type="text" class="form-control" id="keyword" name="keyword" value="<%= keyword %>" autofocus />
              <div class="input-group-append">
                <button class="btn btn-secondary" type="submit"><i class="fa fa-fw fa-search"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="card-columns mt-5">
        <% for (let item of results) { %>
        <%- include("./item.ejs", { item: item }) %>
        <% } %>
      </div>

      <nav>
        <ul class="pagination justify-content-center">
          <% for (let i = 1; i <= pagination.max; i++) { %>
            <% if ( pagination.current !== i) { %>
            <% if ( i <= 3 || (pagination.current - 3 < i && i < pagination.current + 3) || pagination.max - 3 < i ) {%>
            <li class="page-item"><a class="page-link" href="/search/?keyword=<%= keyword %>&page=<%= i %>"><%= i %></a></li>
            <% } else {%>
            .
            <% } %>
            <% } else {%>
            <li class="page-item active"><span class="page-link disabled"><%= i %></span></a></li>
            <% } %>
          <% } %>
        </ul>
      </nav>
    </main>

    <%- include('../include/footer.ejs') %>
  </div>
  <%- include('../include/javascripts.ejs') %>
</body>
</html>