<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../include/metadata.ejs') %>
  <title>Document</title>
  <%- include('../include/stylesheets.ejs') %>
</head>
<body>
  <%- include('../include/navbar.ejs') %>
  <main role="main">
    <ul>
      <% for (let shop of results) { %>
        <li><%= shop.name %></li>
      <% } %>
    </ul>
  </main>
  <%- include('../include/footer.ejs') %>
</body>
</html>