<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../include/metadata.ejs') %>
  <title>Document</title>
  <%- include('../include/stylesheets.ejs') %>
</head>
<body>
  <div class="outerframe">
    <%- include('../include/navbar.ejs') %>
    <h1><%= shop.name %></h1>
    <%- include('../include/footer.ejs') %>
  </div>
  <%- include('../include/javascripts.ejs') %>
</body>
</html>